/* Nav Bar Styles */
#hours {
  color: antiquewhite;
}
nav {
  border-bottom: 2px solid rgb(35, 161, 7);
}
/* Main Page / Header Styles */
main {
  background-color: darkslategray;
}

footer {
  background-color: rgb(27, 27, 27);
  color: white;
}

.page-section {
  padding: 8rem 0;
}

/* Sections Styles */
.section-style-1 {
  background-color: rgba(29, 29, 29, 0.551);
  background-image: url("../imgs/section1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  border-bottom: 2px solid rgb(35, 161, 7);
}

.section-style-2 {
  background-color: rgba(22, 22, 22, 0.859);
  background-image: url("../imgs/background-texture-1.jpg");
  background-size: 100% 100%;
  background-blend-mode: color-burn;
  border-bottom: 2px solid rgb(35, 161, 7);
}

.section-style-3 {
  background-color: rgba(30, 28, 28, 0.823);
  background-image: url("../imgs/background-texture-2.jpg");
  background-size: 100% 100%;
  background-blend-mode: color-burn;
  border-bottom: 2px solid rgb(35, 161, 7);
}

/* Text Colors */
.text-color-white {
  color: white;
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.6);
}

.custom-link {
  color: rgb(68, 255, 0);
}
.custom-link:hover,
.custom-link:focus {
  color: rgb(27, 119, 6);
}

/* Line Break Styles */
.line-break-1 {
  border-color: rgb(35, 161, 7);
  border-width: 3px;
  opacity: 100%;
}

/* Custom BTNs */
.btn-orange {
  background-color: rgb(1, 101, 18);
  color: white;
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.6);
}
.btn-orange:hover {
  background-color: rgb(55, 152, 3) !important;
  color: white !important;
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.6);
}

/* Profile Image Sizes */
.profile-pic {
  width: 10em;
  border: 5px solid rgb(1, 101, 18);

  border-radius: 34px 34px 34px 34px;
  -webkit-border-radius: 34px 34px 34px 34px;
  -moz-border-radius: 34px 34px 34px 34px;

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.navbar-brand img {
  width: 5em;
}

#resume-iframe {
  height: 40em;
}