#img-src-list-container {
    display: none;
}

#image-display {
    /* background-image: url(imgs/texture1.jpg); */
    background-size: 100% 100%;
    width: 30rem;
    height: 40rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#image-caption-display {
    background-color: rgba(0, 0, 0, 0.393);
    color: rgb(255, 255, 255);
    text-shadow: 1px 3px 4px rgb(0, 0, 0);
    width: 100%;
}

.image-arrow {
    background-color: rgba(0, 0, 0, 0.393);
    color: rgb(255, 255, 255);
    text-shadow: 1px 3px 4px rgb(0, 0, 0);
    height: fit-content;
}

.BTN {
    height: fit-content;
    background-color: rgba(240, 248, 255, 0);
    border: 0;
}