.c-text-white {
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.78);
}

.custom-bg-3 {
  background-color: rgba(0, 0, 0, 0.781);
  background-image: url("../../../public/imgs/texture3.jpg");
  background-size: cover;
  background-blend-mode: color-burn;
  /* border-bottom: 4px solid rgb(0, 0, 255); */
}

.custom-bg-4 {
  background-color: rgba(0, 0, 0, 0.799);
}

hr {
  border-color: rgb(17, 0, 255);
  border-width: 3px;
  opacity: 100%;
}

.custom-bg-5 {
  background-color: rgb(32, 32, 32);
}